# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js Build Output
.next/
out/

# Production Build
build/

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Environment Variables
.env*.local
.env
.env.production

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/
.nyc_output/
context.md
integration-reference.md


# IDE & OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Other

screenshots
assets/inspo
assets/logos
.1notes.md
.agents
skills-lock.json
docs

news-section.md

